@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#date{
  font-size:40px;
  color: white;
  /* Make sure we use a true type font */
  font-family: 'Inter', sans-serif;
  font-variant-numeric: tabular-nums;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000,2px 2px 10px #000;
}

#background {
  position: absolute;
  padding: 10px;
  background: linear-gradient(to bottom, black, grey);
  opacity: 40%;
  border-radius: 20px;
}