---
import "./button.css";
---
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<html>
<button id="copyBtn" class="copyButton" onclick="navigator.clipboard.writeText(document.getElementById('textToCopy').textContent.trim())">
    <div class="contents">
      <i class="far fa-clipboard"></i>
      <div>
        <h1 class="topText">Import Code.</h1>
        <h2 class="bottomText">Click to Copy.</h2>
      </div>
    </div>
  </button>
</html>
  
<div id="textToCopy" class="slotText"> <slot/> </div>
