---
import { Icon } from 'astro-icon'
---



<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<html>
<button id="copyBtn" class="copyButton" onclick="navigator.clipboard.writeText(document.getElementById('textToCopy').textContent.trim())">
    <div class="contents">
      <Icon class="icon" name="mdi:clipboard-file-outline" />
      <div>
        <span class="topText">Import Code.</span>
        <span class="bottomText">Click to Copy.</span>
      </div>
    </div>
  </button>
</html>
  
<div id="textToCopy" class="slotText"> <slot/> </div>

<style>
.copyButton {
  
  border-radius: 50px 20px;
  border: 2px solid rgb(1, 17, 68);
  background: linear-gradient(90deg, rgba(1, 17, 68, 0.5), rgba(0, 17, 255, 0.5));
  width: 400px;
  
  transition-property: color, border-color, background-color;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  
}
.copyButton:hover {
  box-shadow: 0px 0px 25px -10px rgb(0, 204, 255);
}
.copyButton:active {
  background: rgb(8, 1, 75);
}
.contents {
  color: #fff !important;
  text-decoration: none;
  font-weight: 600;
  font: inherit;
  display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  
}
.icon {
  display: block;
  height: 75px;
 
  margin-left: 3rem;
  margin-right: 3rem;
  color: rgb(238, 255, 0);
}

.topText {
  font-weight: 600 !important;
  
  color: rgb(238, 255, 0);
  padding: 10px;
  font-size: 30px;

}

.bottomText {
  font-style: normal;
  font-weight: 400;
  color: rgb(238, 255, 0);
  font-size: 15px;
   
   padding: 10px;
 
}
.slotText{

  visibility: hidden;
}


</style>