---
import { Card } from "accessible-astro-components";
---

<html>
<div class ="row">
<div class ="column">
      <Card
        url="https://youtu.be/tkgXzdEPDj8"
        img="/podcast_thumbs/bongo_thumb.png"
        title="Bongo1986"
        footer="Episode 1"
      >Click To Go to the Podcast</Card> 
</div>
<div class ="column">
  <Card
        url="https://youtu.be/yLOX97LHZ0Q"
        img="/podcast_thumbs/andilippi_thumb.png"
        title="Andilippi"
        footer="Episode 2"
    >
    Click to Go to The Podcast.
       </Card>
</div>
</div>
<div class="row">
<div class ="column">
    <Card
    url="https://youtu.be/NIgQwXFttjY"
    img="/podcast_thumbs/meke_thumb.png"
    title="Meke_B"
    footer="Episode 3"
>
    Click to Go to The Podcast.
</Card>
</div>



    <div class ="column">
        <Card
        url="https://youtu.be/rw383SvKy6Y"
        img="/podcast_thumbs/vrflad_thumb.png"
        title="VRFlad"
        footer="Episode 4"
    >
        Click to Go to The Podcast.
    </Card>
    </div>
    </div>
    <div class ="row">
    <div class =" column">
        <Card
        url="https://youtu.be/r2mdazrCHWA"
        img="/podcast_thumbs/spixel_thumb.png"
        title="spixel1g"
        footer="Episode 5"
    >
        Click to Go to The Podcast.
    </Card>
    </div>
    <div class =" column">
        <Card
        url="https://youtu.be/WxpApUrWjrY"
        img="/podcast_thumbs/lyfesaver_thumb.png"
        title="Lyfesaver74"
        footer="Episode 6"
    >
        Click to Go to The Podcast.
    </Card> 
    </div>
    </div>

      

    <div class ="row">
        <div class ="column">
           <Card
        url="https://youtu.be/Yrgz05L_tP4"
        img="/podcast_thumbs/gnaggy_thumb.png"
        title="Gnaggy"
        footer="Episode 7"
    >
        Click to Go to The Podcast.
    </Card>  
        </div>
        <div class =" column">
           <Card
        url="https://youtu.be/aCaaAczNpoU"
        img="/podcast_thumbs/waldo_thumb.png"
        title="WaldoAndFriends"
        footer="Episode 8"
    >
        Click to Go to The Podcast.
    </Card> 
        </div>
    </div>
    <div class ="row">
        <div class =" column">
         <Card
        url="https://youtu.be/2hggSRe0Xw8"
        img="/podcast_thumbs/geocym_thumb.png"
        title="Geocym"
        footer="Episode 9"
    >
        Click to Go to The Podcast.
    </Card>   
        </div>
        </div>




    
      
    
 
   
    
</html>

<style is:global>
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 49%;
  padding: 10px;
  height: auto; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
 </style>
