---
type Props = {
	size: number;
};
const { size } = Astro.props;
---

<img class="logo"	width={size}	height={size} src="https://static-cdn.jtvnw.net/jtv_user_pictures/c91df95a-6854-41eb-b6e8-471d1216ff99-profile_image-300x300.png"/>
	
	 <title>TerrierDarts - A Collection of my Streamer.bot Extensions and Add-ons</title>


<style>

	.logo{
		border-radius: 50px;
		border: 3px solid rgb(0, 217, 255);
  		background-color: rgb(4, 0, 255);
	}
</style>