---
const {importCode = 'NO IMPORT CODE ADDED' } = Astro.props;
import "./button.css";
---


<copy-button data-message={importCode}>

<button class="button" >
  <div class="contents">
    <i class="far fa-clipboard"></i>
    <div>
    <h1 class="topText">Import Code.</h1> 
    <h2 class="bottomText">Click to Copy.</h2>
      </div>
  </div>
</button>
</copy-button>

<script>


    class CopyButton extends HTMLElement {
        constructor() {
          super();
    
          // Read the message from the data attribute.
          const message = this.dataset.importCode;
          const button = this.querySelector('button');
          button.addEventListener('click', () => navigator.clipboard.writeText(message));
        }
      }
        customElements.define('copy-button', CopyButton);
      </script>
